body {
    color: white;
    text-align: center;
    background-color: #808080;
    font-family: serif;
}

h1 {
    
    border-bottom: 3px solid white;
    margin-top: 150px;
}

 .index {
    margin-top: 50px;
}

.p {
    margin-top: 50px;
}